QPushButton,.QLabel {
    color:#80ffffff;
    background-color:#00000000;
    border:none;
    font-size:16pt;
    font-family:'Microsoft YaHei';
    spacing:30px; /* [large] */
}

QPushButton {
    qproperty-iconSize:32px 32px;
}

QPushButton:checked {
    color:#1AA9EF;
}

#splitter {
    background-color:#333B3B
}

#toolbarwidget {
    background-color:#80000000;
}

#popupwidget {
    background-color:#80000000;
}
