QPushButton,.QLabel {
    color:white;
    font-size:16pt; /* [size] */
    font-family:'Microsoft YaHei';
}

.QLabel {
    border:none;
    background-color:#00000000;
}

QPushButton {
    border-radius:6px; /* [size] */
    padding: 6px; /* [size] */
    background-color: #5D6C85;
}

#finishwidget {
    background-color:#80000000;
}

